*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body{
  background-color:#151517;
  height: 91vh;
  right: padding 10px;;
  }
  .container{
   background-color: #f9fafc;
   left: 80px;
   height: 100vh;
   width : 75vw;
   position: fixed;
  border-radius: 12px ;
  display: flex;
  }